body {
  background-color: #c5e4e7;
  font-family: JetBrains Mono;
}

.mainApp {
  max-width: 550px;
  margin: 150px auto;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 15px;
  gap: 30px;
}

.pal {
  color: #f8fdfd;
  font-size: 0.8rem;
}
.tip {
  color: #2cbeab;
  font-size: 1.4rem;
  font-weight: 600;
}

.amountCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  background-color: #00474b;
  width: 100%;
  border-radius: 11px;
  padding: 20px 0;
}
.amountCell button {
  background-color: #69c3b9;
  font-family: JetBrains Mono;

  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 80%;
  transition: all 0.5s;
}
.amountCell button:hover {
  background-color: #9fe8df;
}
.palAmount {
  display: flex;
  flex-direction: column;
  color: #abd9dc;
  font-size: 0.6rem;
}
.palAmount .person {
  /* margin-bottom: 30px; */
}
.controlBtns {
  display: flex;
  gap: 10px;
}
.btn,
.btn2 {
  display: inline-block;
  border: none;
  padding: 8px 18px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #00464b;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  font-family: JetBrains Mono;
}
.btn2 {
  width: 68%;
}
.btn3 {
  display: inline-block;
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #f2f8fb;
  color: #0f4e4d;
  border: 1px solid #98c9c6;
  font-family: JetBrains Mono;

  width: 100%;
  text-align: right;
  outline: none;
}

.controlBtns button:hover {
  background-color: #9de8df;
  color: #00464b;
  transition: all 0.5s;
  text-align: right;
}

.inputs {
  color: #174144;
  border: 1px solid #87bdb6;
  outline: none;
  width: 100%;
  font-size: 1rem;
  padding: 5px 0;
  text-align: end;
  border-radius: 5px;
  font-family: JetBrains Mono;
}
.people {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: -10px;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 2px;
}
.bill,
.billStip {
  font-size: 0.8rem;
  padding-left: 2px;
  margin-bottom: 0px;
  font-weight: 600;
}
.billStip {
  margin-bottom: 3px;
}
.error {
  color: #e6cabf;
}
.error2 {
  border: 1px solid #e6cabf;
  color: #174144;
  outline: none;
  width: 100%;
  font-size: 1rem;
  padding: 5px 0;
  text-align: end;
  border-radius: 5px;
}

.aboutTotal {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 50px;
}
.aboutTotal .tipCell {
  /* margin-top: -15px; */
}
.personCell p {
  color: #fff;
}
.personCell span {
  color: #2cbeab;
}
.personCell {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.numPCell {
  margin-top: 13px;
  padding: 0;
}
.tipMainCell {
  margin-top: 18px;
}

@media (max-width: 545px) {
  .mainApp {
    gap: 20px;
  }
  .aboutTotal {
    width: 90%;
  }
  .amountCell button {
    width: 90%;
  }
  .personCell {
    margin-top: 20px;
  }
  .btn2 {
    width: 65%;
  }
}
@media (max-width: 520px) {
  .aboutTotal {
    width: 93%;
  }
  .amountCell button {
    width: 93%;
  }
  .tip {
    font-size: 1.3rem;
  }
  .palAmount {
    font-size: 0.5rem;
  }
}

@media (max-width: 500px) {
  .mainApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .aboutTotal {
    width: 80%;
  }
  .amountCell button {
    width: 80%;
  }
  .tip {
    font-size: 1.6rem;
  }
  .palAmount {
    font-size: 0.8rem;
  }
  .btn2 {
    width: 79%;
  }
}
